# docker compose up --detach
# docker compose down
services:
  music:
    image: "mhardingdk/mvs:music"
    container_name: "music"
    ports:
      - "3276:3270"
      - "3286:3280"
      - "8886:8081"
    volumes:
      - "./music/config:/app/mvs/conf"
      - "./music/dasd:/app/mvs/dasd"
      - "./music/fba:/app/mvs/fba"
      - "./music/prt:/app/mvs/prt"
      - "./music/pch:/app/mvs/pch"
      - "./music/doc:/app/mvs/doc"
      - "./music/log:/app/mvs/log"
    stdin_open: true
    tty: true
  mts:
    image: "mhardingdk/mvs:mts"
    container_name: "mts"
    ports:
      - "3275:3270"
      - "8885:8081"
    volumes:
      - "./mts/config:/app/mvs/conf"
      - "./mts/dasd:/app/mvs/Disks"
      - "./mts/doc:/app/mvs/doc"
      - "./mts/tapes:/app/mvs/Tapes"
      - "./mts/units:/app/mvs/Units"
      - "./mts/log:/app/mvs/log"
    stdin_open: true
    tty: true
  vm370:
    image: "mhardingdk/mvs:vm370"
    container_name: "vm370"
    ports:
      - "3274:3270"
      - "8884:8081"
    volumes:
      - "./vm370/config:/app/mvs/conf"
      - "./vm370/dasd:/app/mvs/disks"
      - "./vm370/doc:/app/mvs/doc"
      - "./vm370/dosvs:/app/mvs/dosvs"
      - "./vm370/log:/app/mvs/log"
    stdin_open: true
    tty: true
  tk4:
    image: "mhardingdk/mvs:tk4"
    container_name: "tk4"
    ports:
      - "3273:3270"
      - "8883:8038"
    volumes:
      - "./tk4/config:/app/mvs/conf"
      - "./tk4/printers:/app/mvs/prt"
      - "./tk4/punchcards:/app/mvs/pch"
      - "./tk4/log:/app/mvs/log"
      - "./tk4/dasd:/app/mvs/dasd"
      - "./tk4/doc:/app/mvs/doc"
    stdin_open: true 
    tty: true
  tk5:
    image: "mhardingdk/mvs:tk5"
    container_name: "tk5"
    ports:
      - "3271:3270"
      - "8881:8038"
      - "8081:8080"
      - "8022:8021"
    volumes:
      - "./tk5/config:/app/mvs/conf"
      - "./tk5/printers:/app/mvs/prt"
      - "./tk5/punchcards:/app/mvs/pch"
      - "./tk5/log:/app/mvs/log"
      - "./tk5/dasd:/app/mvs/dasd"
      - "./tk5/doc:/app/mvs/doc"
    stdin_open: true 
    tty: true
  ce:
    image: "mhardingdk/mvs:ce"
    container_name: "ce"
    ports:
      - "2120:21"
      - "2320:23"
      - "3270:3270"
      - "3505:3505"
      - "3506:3506"
      - "8880:8888"
      - "8080:8080"
      - "8020:8021"
    volumes:
      - "./ce/config:/config"
      - "./ce/printers:/printers"
      - "./ce/punchcards:/punchcards"
      - "./ce/logs:/logs"
      - "./ce/dasd:/dasd"
      - "./ce/certs:/certs"
    stdin_open: true 
    tty: true
networks:
  hostnet:
    external: true
    name: host
