layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="MVS/CE" {
        pane name="tn3270 ce" {
		command "./tn3270" 
		args "ce"
	} 
    }
    tab name="TK5" {
        pane name="tn3270 tk5" {
                command "./tn3270"
                args "tk5"
        }        
    }
    tab name="TK4" {
		pane name="tn3270 tk4" {
                command "./tn3270"
                args "tk4"
        }
    }
    tab name="VM370" {
        pane name="tn3270 vm370" {
                command "./tn3270"
                args "vm370"
        }
    }
    tab name="MTS" focus=true {
        pane name="tn3270 mts" {
		focus true 
		command "./tn3270" 
		args "mts"
    	} 
    }
    tab name="MUSIC" {
        pane name="tn3270 music" {
		command "./tn3270" 
		args "music"
    	} 
    }
}
